body{
    margin : 0;
}

.crypted {
    font-family : "Wingdings";
}

.timer-bar {
    width: 100%;
    min-height: 20px;
    height: 4vh;
    background-color: #ddd;
}

.timer-infos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 0.5vw;
}

.timer-infos img{
    width: 5vh;
    height: 5vh;
}